.related-box {
  @extend .clearfix;
  margin-bottom:$base-unit*3;
}
.contributed-by {
  padding:$base-unit*2;
  background:rgba(10, 54, 100, 0.67);
  float:left;
  width:100%;
}
.contributed-by__title, .contributed-by__name {
  color:white;
  margin:0;
}
.contributed-by__name {
}
.contributed-by__list {
  li {
    margin: $base-unit*2 0;
    @include media-query (md) {
      float:left;
      width:50%;
    }
    p {
      margin:0;
    }
  }

}
.content {
  padding-right: 100px;
}
