---
layout: default
---
<div class="strip strip--brand-color strip--home">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 strip__left">
        {% include breadcrumbs.html %}
        <div class="jumbotron intro-with-icon">
          <div class="page-icon">
            {% include icon-tool.html %}
            <span class="page-icon__label">
              Tools
            </span>
          </div>
          <h1 class="title--strip">
            Bevan Healthcare CIC: Gateway Protection Programme /VPRS New Arrivals Protocol
          </h1>
          <p class="intro">
            This is a detailed protocol for new refugee arrivals entering UK primary care for the first time. It outlines tasks for admin, nursing and GP staff leading up to and after arrival.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        {% include contributed-by.html %}
      </div>
    </div>
  </div>
</div>
<div class="strip">
  <div class="container">
    <div class="row">
      <div class="content col-sm-8">

        <div class="tool-box">
          <h2>
            <a class="external-link" href="https://www.modernslaveryhelpline.org/">
              Modern slavery helpline
            </a>
          </h2>
          <p>
            Website available in Arabic, Somali, Urdu, Polish, French
          </p>
        </div>


        <div class="related-topics">
          <h2>Relevant topics</h2>
          <p>Click to see more on</p>
          <ul class="nav related-topics">
            <li><a href="{{ site.baseurl }}/topics/fgm.html" class="related-topics__link">
              Trauma
            </a></li>
            <li><a href="{{ site.baseurl }}/topics/immigration-status.html" class="related-topics__link">
              Trafficking
            </a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        {% include related-resources.html %}
      </div>
    </div>
    {% include ask-question-strip.html %}
  </div>
</div>
