---
layout: default
---
<div class="strip strip--brand-color strip--home">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 strip__left">
        <div class="breadcrumbs clearfix">
          <ul class="breadcrumbs-list">
            <li>
              <a href="{{ site.baseurl }}/" class="breadcrumb">Home</a>
            </li>
            <li>></li>
            <li>
              <a href="{{ site.baseurl }}/resources/" class="breadcrumb">Resources</a>
            </li>
            <li>></li>
            <li>
              <a href="{{ site.baseurl }}/tools/" class="breadcrumb">Tools</a>
            </li>
            <li>></li>
            <li>
              Refugee arrivals protocol – example
            </li>
          </ul>
        </div>
        <h1 class="title--strip">
          Bevan Healthcare CIC: Gateway Protection Programme /VPRS New Arrivals Protocol
        </h1>
        <p class="intro">
          This is a detailed protocol for new refugee arrivals entering UK primary care for the first time. It outlines tasks for admin, nursing and GP staff leading up to and after arrival.
      </div>
      <div class="col-sm-4">
        {% include page-icon-tool.html %}
        {% include contributed-by.html %}
      </div>
    </div>
  </div>
</div>
<div class="strip">
  <div class="container">
    <div class="row">
      <div class="content col-sm-8">

        <div class="tool-box">
          <h2>
            <a class="external-link" href="https://www.modernslaveryhelpline.org/">
              Modern slavery helpline
            </a>
          </h2>
          <p>
            Website available in Arabic, Somali, Urdu, Polish, French
          </p>
        </div>


        <div class="related-tags">
          <h2>Relevant Tags</h2>
          <p>Click to see more on</p>
          <ul class="nav related-tags">
            <li><a href="{{ site.baseurl }}/tags/fgm.html" class="related-tags__link">
              Trauma
            </a></li>
            <li><a href="{{ site.baseurl }}/tags/immigration-status.html" class="related-tags__link">
              Trafficking
            </a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        {% include related-how-tos.html %}
        {% include related-resources.html %}
      </div>
    </div>
    {% include ask-question-strip.html %}
  </div>
</div>
