---
layout: default
---
<div class="strip strip--brand-color strip--home">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 strip__left">
        {% include breadcrumbs.html %}
        <div class="jumbotron intro-with-icon">
          <div class="page-icon">
            {% include icon-tool.html %}
            <span class="page-icon__label">
              Tools
            </span>
          </div>
          <h1 class="title--strip">
            MdM Social Form for new patient assessment
          </h1>
          <p class="intro">
            This is an example of the sorts of factors practices can take into account when assessing the social needs of newly registering patients from overseas. It may help establish if they are in stable and decent living conditions, have a job or an income and if they feel ‘safe’ in their neighbourhood.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        {% include contributed-by.html %}
      </div>
    </div>
  </div>
</div>
<div class="strip">
  <div class="container">
    <div class="row">
      <div class="content col-sm-8">


          <ul class="listing resources-list">
            <li>
              <a href="https://www.modernslaveryhelpline.org/">
                {% include icon-link.html %}
                <h3>Doctors of the World Bethnal Green Clinic</h3>
                <p class="metadata">
                  Website available in Arabic, Somali, Urdu, Polish, French
                </p>
              </a>
            </li>

          </ul>


        {% include related-topics.html %}
      </div>
      <div class="col-sm-4">
        {% include related-resources.html %}
      </div>
    </div>
    {% include ask-question-strip.html %}
  </div>
</div>
