<footer class="site-footer strip">

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="nav footer-nav">
            <li><a class="footer-nav__link" href="#">Accessibility</a></li>
            <li><a class="footer-nav__link" href="#">Privacy policy</a></li>
            <li><a class="footer-nav__link" href="#">Contact us</a></li>
          </ul>
          <p class="copyright">&copy; University of Sheffield</p>
        </div>
      </div>
    </div>



  </div>

</footer>
