<header class="site-header" role="banner">
<nav class="navbar navbar-expand-md">
        <div class="container">
          <div class="row col-md-12">
            <a class="navbar-brand" rel="home" href="/">
              <img class="navbar-brand__logo" src="/assets/img/logo.png">
            </a>
            <ul id="main-menu" class="navbar-nav">
              <li><a class="nav-link" href="/">Home</a></li>
              <li><a class="nav-link" href="/questions/">Questions</a></li>
              <li><a class="nav-link" href="/resources/">Resources</a></li>
              <li><a class="nav-link" href="#">Login/register</a></li>
            </ul>
          </div>
        </div>

      </nav><!-- .site-navigation -->
</header>
