<header class="site-header" role="banner">
<nav class="navbar navbar-expand-md">
        <div class="container">
          <div class="row col-md-12">
            <a class="navbar-brand" rel="home" href="{{ site.baseurl }}/">
              <img class="navbar-brand__logo" src="{{ site.baseurl }}/assets/img/logo.png">
            </a>
            <ul id="main-menu" class="navbar-nav">
              <li><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
              <li><a class="nav-link" href="{{ site.baseurl }}/questions/">Questions</a></li>
              <li><a class="nav-link" href="{{ site.baseurl }}/resources/">Resources</a></li>
              <li><a class="nav-link" href="#">Login/register</a></li>
            </ul>
          </div>
        </div>

      </nav><!-- .site-navigation -->
</header>
