<header class="site-header" role="banner">
<nav class="navbar navbar-expand-md">
        <div class="container">
          <div class="row col-md-12">
            <a class="navbar-brand" rel="home" href="{{ site.baseurl }}/">
              <img class="navbar-brand__logo" src="{{ site.baseurl }}/assets/img/logo.png">
            </a>
            <a class="header-health-foundation-link" href="http://www.health.org.uk/" target="_blank">
              <img class="header-health-foundation-img" src="{{ site.baseurl }}/assets/img/health-foundation.png">
            </a>
            <ul id="main-menu" class="navbar-nav navbar-nav--header">
              <li><a class="nav-link active" href="{{ site.baseurl }}/">Home</a></li>
              <li><a class="nav-link" href="{{ site.baseurl }}/questions/">Questions</a></li>
              <li><a class="nav-link" href="{{ site.baseurl }}/resources/">Resources</a></li>
              <li><a class="nav-link" href="#">Login/register</a></li>
            </ul>
          </div>
        </div>

      </nav><!-- .site-navigation -->
</header>
