<div class="related-box related-resources">
  <h3 class="related-box__title">Related resources</h3>
  <ul class="listing related-nav">
    <li>
      <a class="list-icon list-icon--how-to" href="{{ site.baseurl }}/resources/how-tos/recognising-and-responding-to-survivors-of-trauma-trafficking.html">
        {% include icon-how-to.html %}
        <h3 class="listing__title">Recognising and responding to survivors of trauma, trafficking and exploitation</h3>
      </a>
    </li>
    <li>
      <a class="list-icon list-icon--tool" href="{{ site.baseurl }}/resources/tools/hep-b-protocol-example.html">
        {% include icon-tool.html %}
        <h3 class="listing__title">
          Hep B protocol – example
        </h3>
      </a>
    </li>
    <li>
      <a class="list-icon list-icon--practice-example" href="{{ site.baseurl }}/resources/practice-examples/repeat-prescribing-pictures.html">
        <h3 class="listing__title">
          {% include icon-practice-example.html %}
          Repeat prescribing pictures
        </h3>
      </a>
    </li>
    <li>
      <a class="list-icon list-icon--practice-example" href="{{ site.baseurl }}/resources/practice-examples/in-house-interpreter.html">
        {% include icon-practice-example.html %}
        <h3 class="listing__title">
          Interpreter presence as standard
        </h3>
      </a>
    </li>
  </ul>
</div>
