<h2>What are people asking?</h2>
  <ul class="listing listing--questions">
    <li>
      <a href="{{ site.baseurl }}/questions/can-anyone-in-england-accesss-nhs-primary-care.html">
        <i class="fa fa-comment-o"></i>
        <h3 class="listing__title">
          <i class="fa fa-comment-o"></i>Can anyone in England access NHS primary care?</h3>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/questions/difference-between-assylum-seeker-and-refugee.html">
        <i class="fa fa-comment-o"></i>
        <h3 class="listing__title">
          <i class="fa fa-comment-o"></i>
          What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
        </h3>
      </a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
        <h3 class="listing__title">
          <i class="fa fa-comment-o"></i>
          How do I know what immunisations a new migrant patient needs, and what they might have already had?
        </h3>
      </a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/questions/how-do-i-ask-about-fgm.html">
        <h3 class="listing__title">
          <i class="fa fa-comment-o"></i>
          How do I ask about FGM? Who should I ask?
        </h3>
      </a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/questions/what—are-the-signs-of-trafficking.html">
        <h3 class="listing__title">
          <i class="fa fa-comment-o"></i>
          What are the signs of trafficking?
        </h3>
      </a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/questions/is-everyone-entitled-to-free-secondary-care.html">
        <h3 class="listing__title">
          <i class="fa fa-comment-o"></i>
          Is everyone entitled to free secondary care?
        </h3>
      </a>
    </li>


  </ul>
