<div class="related-box related-resources">
  <h3 class="related-box__title">Related resources</h3>
  <ul class="listing related-nav">
    <li><a class="related-nav__link list-icon list-icon--practice-example" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__link-title">
        Practice example 1: repeat prescribing pictures
      </span>
    </a></li>
    <li><a class="related-nav__link list-icon list-icon--practice-example" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__link-title">
        FGM
      </span>
    </a></li>
    <li><a class="related-nav__link list-icon list-icon--practice-example" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__link-title">
        rPactice example 2: in-house interpreter
      </span>
    </a></li>
    <li><a class="related-nav__link list-icon list-icon--practice-example" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__link-title">
        FGM
      </span>
    </a></li>
  </ul>
</div>
