<div class="related-box related-fact-sheets">
  <h3 class="related-box__title">Relevant topics</h3>
  <ul class="listing listing--topics">
    <li>
      <a href="{{ site.baseurl }}/topics/fgm.html">
        {% include icon-topic.html %}
        <p>Infectious diseases</p>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/topics/fgm.html">
        {% include icon-topic.html %}
        <p>Safeguarding</p>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/topics/fgm.html">
        {% include icon-topic.html %}
        <p>FGM</p>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/topics/fgm.html">
        {% include icon-topic.html %}
        <p>First appointment</p>
      </a>
    </li>
  </ul>
</div>
