<div class="related-box related-fact-sheets">
  <h3 class="related-box__title">Related tags</h3>
  <ul class="listing related-nav">
    <li><a class="related-nav__link" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__icon listing__icon--tag"></span>
      <span class="listing__link-title">
        Infectious diseases
      </span>
    </a></li>
    <li><a class="related-nav__link" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__icon listing__icon--tag"></span>
      <span class="listing__link-title">
        Safeguarding
      </span>
    </a></li>
    <li><a class="related-nav__link" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__icon listing__icon--tag"></span>
      <span class="listing__link-title">
        FGM
      </span>
    </a></li>
    <li><a class="related-nav__link" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__icon listing__icon--tag"></span>
      <span class="listing__link-title">
        Health check
      </span>
    </a></li>
    <li><a class="related-nav__link" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__icon listing__icon--tag"></span>
      <span class="listing__link-title">
        First appointment
      </span>
    </a></li>
    <li><a class="related-nav__link" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__icon listing__icon--tag"></span>
      <span class="listing__link-title">
        Using interpreters
      </span>
    </a></li>
  </ul>
</div>
