<div class="related-box related-resources">
  <h3 class="related-box__title">Related How-tos</h3>
  <ul class="listing related-nav">
    <li><a class="related-nav__link list-icon list-icon--how-to" href="{{ site.baseurl }}/resources/how-tos/how-to-use-interpreters-effectively.html">
      <span class="listing__link-title">
        How to use interpreters effectively
      </span>
    </a></li>
    <li><a class="related-nav__link list-icon list-icon--how-to" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__link-title">
        FGM
      </span>
    </a></li>
    <li><a class="related-nav__link list-icon list-icon--how-to" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__link-title">
        Practice example 2: in-house interpreter
      </span>
    </a></li>
    <li><a class="related-nav__link list-icon list-icon--how-to" href="{{ site.baseurl }}/resources/fact-sheets/infectious-diseases.html">
      <span class="listing__link-title">
        FGM
      </span>
    </a></li>
  </ul>
</div>
