@import "1__variables/variables";


// Third party stuff (inc bootstrap)
@import "2__bootstrap/bootstrap";

@import "3__thirdparty/aos";
@import "3__thirdparty/font-awesome";


// Mixinzz
@import "4__mixins/mixins";

// Base styles - type, forms, buttons etc
@import "5__base/typography";
@import "5__base/buttons";
@import "5__base/grid";
@import "5__base/links";
@import "5__base/flex";
@import "5__base/image";
@import "5__base/forms";
@import "5__base/wells";
@import "5__base/labels";
@import "5__base/alerts";
@import "5__base/animations";

// Main stuff
@import "6__components/footer";
@import "6__components/header";
@import "6__components/navigation";
@import "6__components/progress";
@import "6__components/strips";
@import "6__components/breadcrumbs";
@import "6__components/related";
@import "6__components/search";


// Styles relating to a specific page
@import "7__templates/homepage";
@import "7__templates/questions";
@import "7__templates/resources";
@import "7__templates/styleguide";
