.well, .jumbotron {
  border:none;
  background: $gray-lighter;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.container .jumbotron {
  color:white;
  padding:0;
  margin:0;
  background:none;
  box-shadow:none;
  h1 {
    font-size: $font-size-jumbo;
    margin-top:0;
    line-height:1.3;
  }
  p {
    font-size:$font-size-large;
    margin-bottom:30px;
  }
  button {
    margin:25px 0 0 0;
    width:100%;
  }
}
.title--strip {
  float:left;
}
.intro {
  float:left;
  clear:both;
}
