//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {

  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: (20px + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  background:$green;
  color:$white;
}

.alert-info {
  background:$blue;
  color:$white;
}

.alert-warning {
  background:$yellow;
}

.alert-danger {
  background:$red;
  color:$white;
}
