ul li {
  list-style-type:none;
}
ul.bullets li {
  padding-left:$base-unit*4;
  list-style-type: circle;
  list-style-image: url(img/bullet.png);

}
.nav {
  li {
    display:inline-block;
    list-style-type:none;
  }
}
.listing {
  li {
    list-style-type:none;
    padding:$base-unit*0.5 0;
    float:left;
    clear:both;
    width:100%;
    @include media-query (md) {
      padding:$base-unit*2 0;
    }
  }
  a {
    text-decoration:none;
    color: inherit;
    width:100%;
    display:block;
    &:hover {
      color:#333;
    }
  }
}
.listing--questions {
  li {
    padding-left:62px;
    background:url(img/listing__icon--question.svg) no-repeat 0 0;
  }
  .listing__title {
    @include font-size($fs-h5);
    text-decoration: none;
  }
}
.listing--small {
    .listing__title {
      @include font-size($fs-base);
      text-decoration: none;
    }
}
.listing__link-title {

}
.listing__icon {
  display:block;
  width:30px;
  height:30px;
  background: url(img/listing__icon.svg) no-repeat 0 0;
  background-size:100%;
  float:left;
  margin:0 $base-unit*1.5 0 0;
  @include media-query (md) {
    width:45px;
    height:45px;

  }
}
.listing__icon--tag {
  background-image: url(img/listing__icon--tag.svg);

}
.listing__title {
  color: $teal;
  text-decoration:underline;
  margin-bottom:$base-unit*1;

}
.listing__desc {
  margin-bottom:0;
}
