.js .modal {
  display: none;
}

.modal__bg {
  background: rgba(255,255,255,.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal__content {


  .js & {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-top: 40px;
  }

  .no-flexbox & {
    display: block;
  }
}

.js .modal__content-inner {
  position: absolute;
  max-height: 440px;
  overflow: auto;
  background: $white;
  padding: $base-unit $base-unit*2;
}

.modal__close {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  background: none;
  -webkit-appearance: none;
  border: none;
  background: #fff url(asset-path('close.svg')) center no-repeat;
  text-indent: -999999px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}


@include media-query(xs) {

  .js .modal__content {
    opacity: 1;
    width: 400px;
    left: 50%;
    margin-left: -200px;
  }

  .js .modal__content-inner {
    position: static;
  }

  .modal__close {
    width: 80px;
    height: 80px;
    background-size: 70%;
  }

}
// make the image library be over the top of the full screen text editor
.ui-widget-overlay {
   z-index: 20001 !important;
   position: fixed !important;
}
.ui-widget {
  z-index: 20002 !important;
  position: fixed !important;
}
#mce_fullscreen_container {
  z-index:10000 !important;

}
.defaultSkin table.mceToolbar {
  width:100%;
}
