.listing {
  margin:0;
  padding: 0;
  li {
    list-style-type:none;
    margin-bottom:0px;
    a {
      position:relative;
      display:block;
      padding:10px 0 10px 40px;
      i {
        position:absolute;
        top:5px;
        left:0;
        font-size:30px;
      }
    }
  }

}
.listing__title {
  color:$blue;
  font-size:$font-size-base;
}
