.listing {
  margin:0;
  padding: 0;
  li {
    list-style-type:none;
    margin-bottom:0px;
    a {
      position:relative;
      display:block;
      min-height: 60px;
      padding:10px 0 10px 60px;
      &:hover {
        text-decoration: none;
        .listing__title {
          text-decoration: underline;
        }
      }
      i, .icon {
        position:absolute;
        top:13px;
        left:0;
        font-size:30px;
      }
      .icon {
        max-width: 45px;
        max-height: 45px;
      }
    }
  }

}
html .listing__title {
  color:$blue;
  font-size:$font-size-base;
  margin-top: 0;
  font-weight: normal;
}
.listing__desc {
  color:$gray-dark;
}
.listing--large {
  .listing__title {
    font-size:$font-size-large;
    font-weight:bold;
  }
 li a {
   padding-bottom:40px;

 }

}
