.question-banner {
  color: $gray-dark;
  background:#fff5cf;
  border-radius:0;
  box-shadow:2px 2px 1px rgba(0,0,0,0.2);
  .close {
    margin:15px 15px 0 0;
  }
  .intro {
    padding: 20px 0 0 20px;
    margin:0 ;
    font-size:$font-size-large;
  }
  .btn {
    margin:20px;
    text-align:center;
    float:left;
    @include media-query (md) {
    }
  }
}
.how-it-works {
  text-align:center;
  .icon {
    margin-top:10px;
  }
  p {
    font-size:$font-size-small;
    margin:10px 0;
  }
}
.how-it-works-title {
  @include media-query (sm-max) {
    text-align:center;
    clear:both;
  }
}
