.strip {
	padding: 20px 0;
	@include media-query (sm) {
		padding: 30px 0;
	}
  @include media-query (lg) {
    padding: 40px 0;
  }
  h2 {
    margin:0 0 20px;
    @include media-query (md) {
      margin-bottom:30px;
    }
  }
  h3 {
    margin:0 0 10px;
  }
}
.strip--no-padding {
  padding-top: 0;
  padding-bottom:0;
}

.list_item {
  list-style: none;
}
.strip--brand-color {
  background:$blue;
  color:$white;
  .title--strip {
    color:$white;
  }
}
.strip--resources {
  background:url(img/strip--resources.svg);
  background-size:cover;
}
