---
layout: default
---
<div class="strip strip--brand-color strip--home">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 strip__left">
        {% include breadcrumbs.html %}
        <div class="jumbotron">
          <h1 class="title--strip">FGM</h1>
          <p class="intro">
            FGM is illegal and mandatory reporting now exists for under 18s. Asking sensitively about the topic can be challenging. Developing a pathway for your practice may be helpful in encouraging practitioners to ask, and knowing what to do with the response.
          </p>          
        </div>
      </div>
      <div class="col-sm-4">
        {% include page-icon-fact-sheet.html %}
        {% include contributed-by.html %}
      </div>
    </div>
  </div>
</div>
<div class="strip">
  <div class="container">
    <div class="row">
      <div class="content col-sm-8">


        <ol class="big-ol">
          <li>FGM is most prevalent in 29 countries affecting more than 125 million girls and women. The attached map shows the areas with the highest prevalence: https://eliademy.com/app/pluginfile.php/302772/mod_resource/content/0/FGM%20prevalence%20map.pdf</li>
          <li>Where appropriate, women should be asked if they have been a victim of FGM. Developing a pathway can be useful for this to help identify those who have been, and what to do if they have. All women from the countries of high prevalence should be asked.</li>
          <li>Asking questions such as ‘have you been cut?’ and ‘is it impacting on your life at the moment’? Can be useful. See the ‘how to’ guide for more information.</li>

        </ol>


        <h2>Further information</h2>
        <p>
          The Department of Health has useful training videos, protcols and posters surrounding the mandatory reporting:
        </p>
        <p><a href="https://www.gov.uk/government/publications/fgm-mandatory-reporting-in-healthcare">https://www.gov.uk/government/publications/fgm-mandatory-reporting-in-healthcare</a></p>


        <div class="related-topics">
          <h2>Related topics</h2>
          <p>Click to see more on</p>
          <ul class="nav related-topics">
            <li><a href="{{ site.baseurl }}/topics/fgm.html" class="related-topics__link">FGM</a></li>
            <li><a href="{{ site.baseurl }}/topics/immigration-status.html" class="related-topics__link">Safeguarding</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="fitvids">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cRskjqpgSNs?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        {% include related-resources.html %}
      </div>
    </div>
    {% include ask-question-strip.html %}
  </div>
</div>
