
.site-header {
  position:relative;
  width: 100%;
  padding-bottom:0;
  background: $white;
  a {
    text-decoration: none;
  }
  .active {
    font-family:$heading-font;
  }
  .main-wrapper{
    padding: 0;
  }
}
.navbar {
}
.navbar-brand {
  float:left;
  display:block;
  font-weight: 700;
  span {
    float:left;
    clear:both;
  }
}
.navbar-brand__logo {
  float:left;
  max-width:150px;
  margin:18px 18px 25px 0;
}
.navbar-collapse.collapse {
  @include media-query (sm) {
    display:block;
  }
}
ul.navbar-nav {
  float:right;
  list-style-type: none;
  margin-top:29px;
  li {
    display:inline-block;
    list-style-type: none;
  }
}
.nav-link {
  display:inline-block;
  text-decoration:none;
  padding:$base-unit*1 $base-unit*2;
  &:hover {
    text-decoration:none;
  }

}
.navbar-toggler {
  @include media-query (sm) {
    display:none;
  }
}
.header-health-foundation-link {
  display:block;
  float:right;
  max-width: 140px;
  margin: 20px 0 0 10px;
}
