.search-wrap {
  width:100%;
  @extend .clearfix;
}
.search-box.search-box {
  border:none;
  border-radius:5px 0px 0 5px;
  width: 75%;
  float:left;
  @include media-query (md) {
    width: 80%;
  }
  padding:11px;
  @include media-query (md) {}
}
.btn-search.btn-search {
  border-radius:0px 5px 5px 0;
  width: 25%;
  @include media-query (md) {
    width: 20%;
    padding: 12px 15px;
  }
  color:white;
  background:black;
  font-weight:bold;
  i {
    margin-right:8px;
  }
  span {
    display:none;
    @include media-query (sm) {
      display:inline-block;
    }
  }

}
