.ask-question-strip {
  background:$grey-light;
  margin-top:$base-unit*5;
  padding-top:$base-unit*5;
  padding-bottom:$base-unit*5;
}
.related-box {
  @extend .clearfix;
  margin-bottom:$base-unit*3;
}
.contributed-by {
  padding:$base-unit*2;
  background:rgba(10, 54, 100, 0.67);
  float:left;
  width:100%;
}
.contributed-by__title, .contributed-by__name {
  color:white;
  margin:0;
}
.contributed-by__name {
  @include font-size($fs-milli);
}
.contributed-by__list {
  li {
    @include font-size($fs-milli);
    margin: $base-unit*2 0;
    @include media-query (md) {
      float:left;
      width:50%;
    }
    p {
      margin:0;
    }
  }

}
.page-icon {
  margin:0 0 $base-unit*2;
  @include media-query (lg) {
    float:right;
  }
}
