---
layout: default
---

<div class="strip strip--brand-color strip--home">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 strip__left">
        <h1 class="title--strip">Welcome to migrant.health</h1>
        <p class="intro">
          We’re here as a reference point and resource to help you with your questions about new migrants.
        </p>
        <form class="search-wrap" role="search">
          <div class="input-group add-on">
            <input class="form-control search--home" placeholder="Search" name="srch-term" type="text">
            <div class="input-group-btn">
              <a href="/search/results.html" class="btn btn-search" >Search</a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-4 strip__right-box">
        <h2 class="title">
          Most popular
        </h2>
        <ul class="page-listing">
          <li><a href="#">FGM</a></li>
          <li><a href="#">How to use interpreters effectively</a></li>
          <li><a href="#">Social assesment - example</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="strip strip--tags">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/tags/immigration-status/">
              Immigration status
            </a>
          </h3>
          <p class="tag-summary_desc">
            Understanding the difference between an asylum seeker, failing asylum seeker, refugee, and undocumented migrant.
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/tags/immigration-status/">
              Immigration status
            </a>
          </h3>
          <p class="tag-summary_desc">
            Understanding the difference between an asylum seeker, failing asylum seeker, refugee, and undocumented migrant.
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/tags/immigration-status/">
              Immigration status
            </a>
          </h3>
          <p class="tag-summary_desc">
            Understanding the difference between an asylum seeker, failing asylum seeker, refugee, and undocumented migrant.
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/tags/immigration-status/">
              Immigration status
            </a>
          </h3>
          <p class="tag-summary_desc">
            Understanding the difference between an asylum seeker, failing asylum seeker, refugee, and undocumented migrant.
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/tags/immigration-status/">
              Immigration status
            </a>
          </h3>
          <p class="tag-summary_desc">
            Understanding the difference between an asylum seeker, failing asylum seeker, refugee, and undocumented migrant.
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/tags/immigration-status/">
              Immigration status
            </a>
          </h3>
          <p class="tag-summary_desc">
            Understanding the difference between an asylum seeker, failing asylum seeker, refugee, and undocumented migrant.
          </p>
        </div>

      </div><!-- /row -->
    </div><!-- /col-md-9 -->
    <div class="col-md-3">
      <a href="/tags/">View all tags</a>
    </div>
    </div>
  </div>
</div>
<div class="strip">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Hot questions</h2>
        <ul>
          <li><a href="/questions/can-anyone-in-england-accesss-nhs-primary-care.html">Can anyone in England access NHS primary care?</a></li>
          <li><a href="/questions/can-anyone-in-england-accesss-nhs-primary-care.html">What is the difference between an asylum seeker and a refugee? What is an illegal migrant?</a></li>
        </ul>
        <a href="/questions/">View all</a>
      </div>
      <div class="col-sm-4">
        <h2>New questions</h2>
        <ul>
          <li><a href="/questions/can-anyone-in-england-accesss-nhs-primary-care.html">Can anyone in England access NHS primary care?</a></li>
          <li><a href="/questions/can-anyone-in-england-accesss-nhs-primary-care.html">What is the difference between an asylum seeker and a refugee? What is an illegal migrant?</a></li>
        </ul>
        <a href="/questions/">View all</a>
      </div>
      <div class="col-sm-4">
        <h2>Unanswered questions</h2>
        <ul>
          <li><a href="/questions/can-anyone-in-england-accesss-nhs-primary-care.html">Can anyone in England access NHS primary care?</a></li>
          <li><a href="/questions/can-anyone-in-england-accesss-nhs-primary-care.html">What is the difference between an asylum seeker and a refugee? What is an illegal migrant?</a></li>
        </ul>
        <a href="/questions/">View all</a>
      </div>
    </div>
  </div>
</div>
