---
layout: default
---

<div class="strip strip--brand-color strip--home">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 strip__left">
        <div class="jumbotron">
          <h1 class="title--strip">A tool for everyone in primary care</h1>
          <p class="intro">
            Factsheets, how-tos, tools and inspiring examples of good practice, based on Doctors of the World's knowledge and expertise, and an opportunity to ask questions and share answers in our growing community.
          </p>
          {% include search-box.html %}
        </div>
      </div>
      <div class="col-sm-4 strip__about-this-site">
        <h3 class="title">
          About this site and how to use it
        </h3>
        <div class="fitvids">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cRskjqpgSNs?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="strip strip--topics">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="{{ site.baseurl }}/topics/fgm.html">
              Immigration status
            </a>
          </h3>
          <p class="tag-summary_desc">
            Understanding the difference between an asylum seeker, failing asylum seeker, refugee, and undocumented migrant.
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="{{ site.baseurl }}/topics/fgm.html">
              Entitlements to Primary Care
            </a>
          </h3>
          <p class="tag-summary_desc">
            Explanation of entitlements of primary care in England.
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="{{ site.baseurl }}/topics/fgm.html">
              Screening
            </a>
          </h3>
          <p class="tag-summary_desc">
            Screening considerations for new migrant patients
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="{{ site.baseurl }}/topics/fgm.html">
              Trauma, trafficking, and victims of exploitation
            </a>
          </h3>
          <p class="tag-summary_desc">
            When and how to ask about difficult topics, and what to do with the answer
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="{{ site.baseurl }}/topics/fgm.html">
              FGM
            </a>
          </h3>
          <p class="tag-summary_desc">
            Latest guidance on FGM
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="{{ site.baseurl }}/topics/fgm.html">
              Safeguarding
            </a>
          </h3>
          <p class="tag-summary_desc">
            Safeguarding issues particularly relevant to migrant patients
          </p>
        </div>

      </div><!-- /row -->
    </div><!-- /col-md-9 -->
    <div class="col-md-3">
      <a href="{{ site.baseurl }}/topics/">View all topics</a>
    </div>
    </div>
  </div>
</div>
<div class="strip">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Hot questions</h2>
          <ul class="listing listing--questions listing--small">
            <li>
              <a href="{{ site.baseurl }}/questions/can-anyone-in-england-accesss-nhs-primary-care.html">
                <h3 class="listing__title">Can anyone in England access NHS primary care?</h3>
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/questions/difference-between-assylum-seeker-and-refugee.html">
                <h3 class="listing__title">
                  What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                </h3>
              </a>
            </li>

            <li>
              <a href="{{ site.baseurl }}/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
                <h3 class="listing__title">
                  How do I know what immunisations a new migrant patient needs, and what they might have already had?
                </h3>
              </a>
            </li>

          </ul>
        <a href="{{ site.baseurl }}/questions/">View all</a>
      </div>
      <div class="col-sm-4">
        <h2>New questions</h2>
          <ul class="listing listing--questions listing--small">
            <li>
              <a href="{{ site.baseurl }}/questions/what—are-the-signs-of-trafficking.html">
                <h3 class="listing__title">
                  What are the signs of trafficking?
                </h3>
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
                <h3 class="listing__title">
                  How do I know what immunisations a new migrant patient needs, and what they might have already had?
                </h3>
              </a>
            </li>

            <li>
              <a href="{{ site.baseurl }}/questions/is-everyone-entitled-to-free-secondary-care.html">
                <h3 class="listing__title">
                  Is everyone entitled to free secondary care?
                </h3>
              </a>
            </li>



          </ul>
        <a href="{{ site.baseurl }}/questions/">View all</a>
      </div>
      <div class="col-sm-4">
        <h2>Unanswered questions</h2>
          <ul class="listing listing--questions listing--small">
            <li>
              <a href="{{ site.baseurl }}/questions/difference-between-assylum-seeker-and-refugee.html">
                <h3 class="listing__title">
                  <i class="fa fa-comment-o"></i>
                  What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                </h3>
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/questions/difference-between-assylum-seeker-and-refugee.html">
                <h3 class="listing__title">
                  What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                </h3>
              </a>
            </li>

            <li>
              <a href="{{ site.baseurl }}/questions/can-anyone-in-england-accesss-nhs-primary-care.html">
                <h3 class="listing__title">Can anyone in England access NHS primary care?</h3>
              </a>
            </li>


          </ul>
        <a href="{{ site.baseurl }}/questions/">View all</a>
      </div>
    </div>
  </div>
</div>
