---
layout: default
---
<div class="strip strip--brand-color strip--home">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 strip__left">
        {% include breadcrumbs.html %}
        <div class="jumbotron intro-with-icon">
          <div class="page-icon">
            {% include icon-practice-example.html %}
            <span class="page-icon__label">
              Practice example
            </span>
          </div>
          <h1 class="title--strip">
            Having an interpreter two days a week in a population with a high number of Bengali speakers
          </h1>
          <p class="intro">
            Purpose: To share emerging practice and learn lessons
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        {% include contributed-by.html %}
      </div>
    </div>
  </div>
</div>
<div class="strip">
  <div class="container">
    <div class="row">
      <div class="content col-sm-8">
        <h2>
          What was the problem
        </h2>
        <p>
          Our practice has a majority Bengali-speaking population, regularly needing interpreters. One’s booked externally would often not show, and the usefulness varied. Language line consultations have many challenges.
        </p>
        <h2>
          How did we approach it
        </h2>
        <p>
          We all felt we would benefit from a regular, reliable interpreter for both the clinical staff and the patients.
        </p>
        <h2>
          What did we do
        </h2>
        <p>
          We hired an experienced Bengali interpreter to be in the practice as standard two days a week.
        </p>
        <h2>
          Did it work?
        </h2>
        <p>
          It has made a fantastic difference to both patients and staff. Obviously in an emergency e can use language line, but for routine appointments we are able to have clear discussions. In addition, because the same interpreter is now present, the patients get to know her and vis a versa, resulting in a rapport building up between all the team.
        </p>
        <h2>
          Recommendation
        </h2>
        <p>
          This has significantly decreased our workload from misunderstanding, missed appointments, and language line, and improved patient care.
        </p>



        <div class="related-topics">
          <h2>Related topics</h2>
          <p>Click to see more on</p>
          <ul class="nav related-topics">
            <li><a href="{{ site.baseurl }}/topics/" class="related-topics__link">
              Sharing good practice;
            </a></li>
            <li><a href="{{ site.baseurl }}/topics/" class="related-topics__link">
              Using interpreters
            </a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        {% include related-resources.html %}
      </div>
    </div>
    {% include ask-question-strip.html %}
  </div>
</div>
