---
layout: default
---
<div class="strip strip--brand-color strip--home">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 strip__left">
        <div class="breadcrumbs clearfix">
          <ul class="breadcrumbs-list">
            <li>
              <a href="{{ site.baseurl }}/" class="breadcrumb">Home</a>
            </li>
            <li>></li>
            <li>
              <a href="{{ site.baseurl }}/resources" class="breadcrumb">Resources</a>
            </li>
          </ul>
        </div>
        <h1 class="title--strip">Using pictures to help non-English speakers understand the repeat prescription process</h1>
        <p class="intro">
          Purpose: To share emerging practice and learn lessons
        </p>
      </div>
      <div class="col-sm-4">
        {% include page-icon-practice-example.html %}
        {% include contributed-by.html %}
      </div>
    </div>
  </div>
</div>
<div class="strip">
  <div class="container">
    <div class="row">
      <div class="content col-sm-8">
        <h2>
          What was the problem
        </h2>
        <p>
          At our practice, we found non-English speaking patients were struggling to use the repeat prescription service. As this was at reception, we did not have an interpreter readily available to help.
        </p>
        <h2>
          How did we approach it
        </h2>
        <p>
          We discussed how we could solve this, and as it was more than one language, we realised simply translating our leaflet would not be of use. We wanted to ensure equitable access to all our patients, to receive the best care, and their prescriptions on time.
        </p>
        <h2>
          What did we do
        </h2>
        <p>
          We discussed it at a practice meeting, and decided to trial a picture-method of explaining the repeat prescription process for all new patients.
        </p>
        <h2>Did it work?</h2>
        <p>
          We had a good response from most patients, who found it clear and the repeat prescription process improved, with less appointments used just to request prescriptions.
        </p>
        <h2>
          Recommendation
        </h2>
        <p>
          We will share our leaflet for others to trial—we found it really worked.
        </p>



        <div class="related-topics">
          <h2>Related topics</h2>
          <p>Click to see more on</p>
          <ul class="nav related-topics">
            <li><a href="{{ site.baseurl }}/topics/" class="related-topics__link">
              Sharing good practice;
            </a></li>
            <li><a href="{{ site.baseurl }}/topics/" class="related-topics__link">
              Registration and health check
            </a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        {% include related-resources.html %}
      </div>
    </div>
    {% include ask-question-strip.html %}
  </div>
</div>
