$white: #FFF;
$black: #000;
$purple:#7438A7;
$purple-dark:#5F2194;
$pink:#F96B7B;
$pink-dark:#E65482;
$red: #F15757;
$red-dark: #E63425;
$yellow: #FFCE46;
$yellow-dark: #F7C235;
$orange:#F6A33F;
$orange-dark: #E3591E;
$green:#82D171;
$green-dark:#53BF6E;
$blue-light:#3FA2F7;
$blue:#3478D2;
$blue-dark:#113E7A;
$teal: #029CA6;
$teal-dark: #146A8F;
$turquoise: #00D4D7;
$turquoise-dark: #4DB6A9;
$grey-lighter: #F2F2F2;
$grey-light: #E4E8E9;
$grey: #ABB1BD;
$grey-dark:  #505359;
$twitter-blue: #1da1f2;
$youtube-red:#E22C26;
