

/* base font size - applied at body / html level */
$fs-base: 16;

/* larger than heading font sizes */
$fs-giga: 70;
$fs-mega: 60;
$fs-kilo: 50;

/* heading font sizes */
$fs-h1: 36;
$fs-h2: 24;
$fs-h3: 22;
$fs-h4: 20;
$fs-h5: 18;
$fs-h6: 16;

/* smaller than heading font sizes */
$fs-milli: 14;
$fs-micro: 10;
$fs-nano:  8;
