$base-unit: 8px;


$header-height: $base-unit*16;

$panel-arrow-width: 114px;
$panel-arrow-height: 40px;

// grid width and padding
$grid-width: 1600px;
$md-width: 960px;
$gutter-width: 15px;
$sm-padding: $base-unit*6;
$md-padding: $base-unit*10;
